body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

#form-container {
    margin-bottom: 20px;
}

label {
    margin-right: 5px;
}

input {
    margin-bottom: 10px;
    padding: 5px;
}

button {
    padding: 8px;
    cursor: pointer;
}

#students {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions {
    display: flex;
}

.actions button {
    margin-left: 5px;
}

